@font-face {
  font-family: "M PLUS Rounded 1c";  
  src: url("../fonts/MPLUSRounded1c-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500;
  }
@font-face {
  font-family: "M PLUS Rounded 1c";  
  src: url("../fonts/MPLUSRounded1c-ExtraBold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 800;
  }
